.wrapp {
    background-image: url('../../assets/polka2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    gap: 50px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.wrappe {
    background-color: blue;
}


.button {
    font-size: 30px;
    border: 1px solid white;
}


@media (max-width: 390px) {
.wrapp {
    background-image: url('../../assets/polk.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding-top: 150px;
}
}

.cart {
    font-size: 20px;
    color: #00ff08;
    font-weight: 500;
}
